#root[data-style="auto"] {
  --bg: #1c1b22;
}

.PinnedDock {
  background : #1c1b22;
  box-shadow: none !important;
}

.NavigationBar {
  position: fixed;
  bottom: 0;
  border-top: 1px solid #212029;
}

.Tab[data-active] {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  margin-right: 5px;
}

.Tab .ctx {
  width: 3px;
}

.t-box .title {
  font-size: 12px;
  letter-spacing: 0.12px;
  color: #fff;
}

.panel-btn:nth-last-child(2) {    
  margin-left: auto;
}
